.preloader {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  background: #121212;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  overflow: hidden !important;

  .texts-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 280px;
    font-size: 20px;
    overflow: hidden;
    font-weight: 800;
    opacity: 0;
    color: white;
  }
}

/* .preloader {
  width: 100vw;
  height: 100vh;
  background-color: #10101a;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 129993994;
  display: grid;
  place-content: center;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__left {
    margin-right: 1rem;
  }

  &__right {
    margin-left: 1rem;
    width: max-content;
    height: 4rem;
    overflow: hidden;
    position: relative;

    &::before {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      background-image: linear-gradient(
        to bottom,
        #10101a 5%,
        rgba(#10101a, 0) 30%
      );
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
    &::after {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      background-image: linear-gradient(
        to top,
        #10101a 5%,
        rgba(#10101a, 0) 30%
      );
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }

  &__text {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 210%;
    letter-spacing: 0.19em;
    color: var(--color-white);
    animation: preloaderTextAnim 12s linear;
    animation-delay: 3s;
  }
} */
