@import url("https://fonts.googleapis.com/css2?family=BIZ+UDMincho&family=Lobster&family=Tiro+Kannada&display=swap");

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.header {
  font-family: "BIZ UDMincho", serif;
  font-family: "Lobster", cursive;
  font-family: "Tiro Kannada", serif;
}
.gradient-text {
  font-family: "Tiro Kannada", serif;
  background-image: -webkit-linear-gradient(125deg, #f2291b, #f7db25, #84f527);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 15s infinite linear;
}
@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
.text {
  font-family: "BIZ UDMincho", serif;
}
.card-container {
  perspective: 50em;

  &:nth-child(1) {
    --bi: repeating-linear-gradient(30deg, #111 0 0.25em, #333 0 1em);
  }
  &:nth-child(2) {
    --bi: linear-gradient(#555 5em, #0000 3em),
      linear-gradient(60deg, #880e4f, #1a237e);
  }
}

.card {
  position: relative;
  width: 400px;
  height: 300px;
  transform: rotateY(30deg) rotateX(15deg);
  transform-style: preserve-3d;
  transition: transform 1s;
  border: 2px solid #29acff;
  border-radius: 10px;
  box-shadow: 0px 10px 100px rgb(54, 240, 231);

  &:hover {
    transform: rotateY(-8deg) rotateX(-10deg);
  }
}
